.pure-menu-horizontal {
  background-color: #daa9ff;
  position: relative;
  z-index: 1;
}

.pure-menu-horizontal .pure-menu-heading {
  font-family: 'Lobster', cursive, sans-serif;
  text-transform: none;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 1.5em;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

.banner {
  height: calc(100vh - 54px);
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url('../images/baby-hero.jpg');
  background-repeat: no-repeat;
  background-position: left top; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  color: white;
  transition: transform 1s linear;
  position: absolute;
  z-index: 2;
  top: 54px;
}

.banner.submitted {
  transform: translate(0,-100vh);
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url('../images/baby-hero.jpg');
  background-repeat: no-repeat;
  background-position: left top; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#results {
  position: absolute;
  width: 100%;
  display: none;
}

#results.submitted {
  display: block;
}

.banner-content {
  text-align: right;
  margin-right: 30px;
  text-shadow: 0 0 10px #333;
}

.banner-content input {
  color: #000;
}

.pure-form .pure-radio {
  display: inline-block;
}

.pure-form .pure-button {
  display: block;
  margin-top: 10px;
  margin-left: auto;
}

#name-list {
  right:0 ;
  top: -43px;
  position: absolute;
}

#name-list li {
  height: auto;
  text-align: left;
  background-color: #eee;
  text-shadow: none;
  text-transform: none;
}

#name-list li:hover {
  background-color: #daa9ff;
  cursor: pointer;
  text-transform: none;
}

.pure-menu.pure-g {
  position: relative;
}

.hidden {
  display: none;
}

.tooltip {
  pointer-events: none !important;
  background-color: #CCC;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #daa9ff;
  z-index: 100;
}

.tooltip p {
  margin: 3px;
}

.male {
  color: #2D7355;
}

.female {
  color: #A95706;
}

.all {
  color: #5B2A80;
}

.state:hover {
  cursor: pointer;
}

.pure-u-1 h1 {
  text-align: center;
  margin: 20px auto;
}

.pure-u-1 h4 {
  text-align: center;
}

#results .pure-g:last-child .pure-u-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#results h6 {
  margin: 5px 15px 5px 0;
  display: inline-block;
}

iframe {
  margin-right: 10px;
}

#rithm-logo {
  height: 34px;
  margin-right: 10px;
  margin-top: 3px;
}

@media (max-width: 480px) {
  #name-input {
    display: inline;
  }

  #name-input + .pure-button {
    margin-left: auto;
  }
}

@media (max-width: 578px) {
  .banner,
  .banner.submitted {
    background-attachment: scroll;
  }

  svg {
    margin-top: -100px;
  }

  #results .pure-g:last-child .pure-u-1 {
    justify-content: center;
  }
}